* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html, body {
  height: 100%;
  font-size: 18px;
}

html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(29, 29, 29, 0.4);
}
html ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#C1157C, #6500E4);
}
html ::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px rgba(250, 250, 250, 0.8);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 30px;
  margin: 0 auto;
}

.full-page {
  background-color: #FAFAFA;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.main {
  margin-top: 130px;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  background-color: #FAFAFA;
}

.wrapper {
  margin-left: auto;
  width: calc(100% - 350px);
  order: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  overflow: hidden;
  z-index: 5;
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  background-color: #FAFAFA;
  transition: 0.3s all;
}
.header-active {
  box-shadow: 5px 5px 20px #FAFAFA;
  border-bottom: 1px solid transparent;
  transition: 0.3s all;
}
.header__logo {
  width: 200px;
}
.header__search-block {
  flex: 1 1 auto;
  position: relative;
  text-align: center;
}
.header__search-input {
  position: relative;
  padding: 7px 40px 7px 7px;
  border-radius: 10px;
  border: 2px solid #6500E4;
  width: 44%;
  height: 35px;
  transition: 0.5s border;
}
.header__search-input:focus {
  outline-color: #C1157C;
  border: 2px solid #C1157C;
  transition: 0.5s border;
}
.header__search-input:hover {
  outline: none;
  border: 2px solid #C1157C;
  transition: 0.5s border;
}
.header__search-submit {
  position: absolute;
  height: 90%;
  width: 40px;
  right: 28%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  border-left: 1px solid #6500E4;
  cursor: pointer;
  transition: 0.3s all;
}
.header__search-submit:hover .header__search-img {
  fill: #C1157C;
  transition: 0.3s fill;
}
.header__search-img {
  height: 100%;
  width: 22px;
  fill: #6500E4;
  transition: 0.3s fill;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0px;
  gap: 65px;
  transition: 0.3s all;
}
.content-wrapper {
  margin-left: auto;
  width: calc(100% - 350px);
  order: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.content__card {
  overflow: hidden;
  position: relative;
  min-width: 280px;
  max-width: 280px;
  min-height: 350px;
  flex: 1 1 auto;
  border-radius: 15px;
  background-color: transparent;
  transition: 0.5s all;
  box-shadow: 0px 0px 15px rgba(26, 26, 26, 0.7);
  cursor: pointer;
}
.content__card:hover {
  transform: translateY(-4px);
}
.content__card-front {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 15px;
  min-height: 100%;
  color: #FAFAFA;
  transition: 0.5s all;
}
.content__card-front_male-bgcolor {
  background-image: linear-gradient(to right bottom, rgb(14, 0, 75), rgb(0, 118, 173));
}
.content__card-front_female-bgcolor {
  background-image: linear-gradient(to right bottom, #C1157C, #6500E4);
}
.content__card-front:after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  bottom: -80%;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 80%;
  z-index: -1;
  transition: 0.5s all;
}
.content__card-front:hover {
  transform: translateY(0);
  transition: 0.3s all;
  box-shadow: 0px 0px 15px rgb(26, 26, 26);
}
.content__card-front:hover:after {
  visibility: visible;
  bottom: 0;
  width: 100%;
  height: 80%;
  opacity: 1;
  transition: 0.5s all;
}
.content__card-front:hover .content__card-front-more {
  color: #1d1d1d;
  background-color: #FAFAFA;
}
.content__card-front-avatar {
  display: block;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: top;
}
.content__card-front-descr {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  row-gap: 10px;
  padding: 15px 10px;
}
.content__card-front-title {
  font-size: 22px;
}
.content__card-front-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5px;
}
.content__card-front-text {
  font-size: 15px;
  color: lightgrey;
}
.content__card-front-text:not(:first-child) {
  margin-top: 5px;
}
.content__card-front-text:first-child {
  width: 100%;
  flex: 0 0 auto;
}
.content__card-front-more {
  display: block;
  height: 40px;
  width: 80%;
  color: #FAFAFA;
  background-color: #1d1d1d;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s all;
}
.content__card-back {
  width: 100%;
  padding: 20px 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  border-radius: 15px;
  color: #FAFAFA;
  background-color: rgba(90, 90, 90, 0.6);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  visibility: hidden;
  top: -100%;
  transition: 0.5s all;
}
.content__card-back-top, .content__card-back-main, .content__card-back-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content__card-back-top {
  text-align: center;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.content__card-back-bottom {
  text-align: center;
}
.content__card-back-text {
  word-wrap: break-word;
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}
.content__card-back span {
  color: lightgray;
}
.content__card-back-name {
  font-size: 22px;
  font-weight: 500;
}
.content__card-back .phone, .content__card-back .mail {
  position: relative;
  padding-left: 35px;
}
.content__card-back .phone:not(:first-child), .content__card-back .mail:not(:first-child) {
  margin-top: 10px;
}
.content__card-back .phone:after {
  top: 50%;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  position: absolute;
  background: url("../img/phone.svg") center center no-repeat;
}
.content__card-back .mail:after {
  top: 50%;
  left: 0;
  content: "";
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  position: absolute;
  background: url("../img/mail.svg") center center no-repeat;
}
.content__card .active {
  visibility: visible;
  top: 0;
  transition: 0.5s all;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  touch-action: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
}

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 6px;
  position: relative;
  z-index: 1;
}

/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}

.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}

/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.noUi-touch-area {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  transition: transform 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  right: -10px;
  top: -8px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: rgb(231, 231, 231);
  border-radius: 8px;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background-image: linear-gradient(to right bottom, #C1157C, #6500E4);
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border-radius: 3px;
  background: #6500E4;
  cursor: default;
  box-shadow: inset 0 0 1px #c5ade2, inset 0 1px 7px #ac7de6, 0 3px 6px -3px #c2a3e9;
}

.noUi-active {
  box-shadow: inset 0 0 1px #c57aa7, inset 0 1px 7px #c57aa7, 0 3px 6px -3px #c58bae;
}

/* Handle stripes;
 */
/* .noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
} */
.noUi-handle:after {
  left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  top: 17px;
}

/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: #999;
}

/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub {
  background: #AAA;
}

.noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%);
}

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

.navigation-left {
  top: 130px;
  position: fixed;
  padding: 5px 35px 5px 0px;
  border-right: 1px solid lightgray;
  max-width: 350px;
  height: 86%;
  background-color: #FAFAFA;
  z-index: 10;
}
.navigation-left__header {
  display: flex;
  gap: 10px;
}
.navigation-left__closebtn {
  position: absolute;
  right: 12px;
  top: 12px;
  display: none;
  width: 25px;
  height: 25px;
  border: none;
  background: url("../img/x.svg") center center no-repeat;
  cursor: pointer;
}
.navigation-left__title {
  font-size: 18px;
}
.navigation-left__img-filter {
  stroke: #6500E4;
}
.navigation-left__list {
  margin-top: 40px;
  list-style-type: none;
}
.navigation-left__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
.navigation-left__item:not(:first-child) {
  margin-top: 30px;
}
.navigation-left__item hr {
  border: none;
  border-top: 1px lightgray solid;
  height: 1px;
  width: 100%;
  margin-top: 10px;
}
.navigation-left__item-age {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 30px;
}
.navigation-left__item .range-parametres {
  border-radius: 8px;
  border: 1px solid #6500E4;
  padding: 0 5px;
  width: 50px;
  height: 30px;
  background-color: white;
  text-align: center;
  transition: 0.3s all;
}
.navigation-left__item .range-parametres:focus {
  outline-color: #6500E4;
}
.navigation-left__item-min-max-wrapper {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}
.navigation-left__item-submit {
  cursor: pointer;
}
.navigation-left__item-submit:hover {
  background-color: #6500E4;
  color: #FAFAFA;
}
.navigation-left__link {
  text-decoration: none;
}
.navigation-left__btn {
  overflow: hidden;
  position: relative;
  border: none;
  background-color: transparent;
  color: #6500E4;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s all;
  padding: 5px 8px;
  cursor: pointer;
}
.navigation-left__btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #C1157C;
  bottom: 0;
  left: -100%;
  transition: 0.3s all;
}
.navigation-left__btn:hover {
  color: #C1157C;
  transition: 0.3s all;
}
.navigation-left__btn:hover:after {
  left: 0;
  transition: 0.3s all;
}
.navigation-left__btn-active {
  outline-color: #6500E4;
  color: #C1157C;
  transition: 0.3s all;
}
.navigation-left__btn-active:after {
  left: 0;
  transition: 0.3s all;
}
.navigation-left__bottom-btn {
  margin: 0 auto;
  height: 40px;
  min-width: 120px;
  padding: 5px 20px;
  color: #fafafa;
  background-color: #1d1d1d;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  transition: 0.3s all;
  cursor: pointer;
}
.navigation-left__bottom-btn:hover {
  background-color: #C1157C;
  transition: 0.3s all;
}

.navigation-top__list {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.navigation-top__list-adaptive-burger {
  display: none;
}
.navigation-top__item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navigation-top__sort {
  padding: 5px;
  padding-right: 0;
}
.navigation-top__select {
  padding: 5px;
  padding-right: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #6500E4;
  background-color: #FAFAFA;
  border: none;
  margin-left: 5px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
  text-align: left;
}
.navigation-top__select:hover {
  color: #C1157C;
}
.navigation-top__select:focus {
  outline-style: dotted;
  outline-color: #6500E4;
}

.preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease all;
}
.preloader_active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease all;
}

.preloader span {
  animation: preloader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.preloader span:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-image: linear-gradient(to right top, #C1157C, #6500E4);
  margin: -4px 0 0 -4px;
}

.preloader span:nth-child(1) {
  animation-delay: -0.036s;
}

.preloader span:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.preloader span:nth-child(2) {
  animation-delay: -0.072s;
}

.preloader span:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.preloader span:nth-child(3) {
  animation-delay: -0.108s;
}

.preloader span:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.preloader span:nth-child(4) {
  animation-delay: -0.144s;
}

.preloader span:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.preloader span:nth-child(5) {
  animation-delay: -0.18s;
}

.preloader span:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.preloader span:nth-child(6) {
  animation-delay: -0.216s;
}

.preloader span:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.preloader span:nth-child(7) {
  animation-delay: -0.252s;
}

.preloader span:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.preloader span:nth-child(8) {
  animation-delay: -0.288s;
}

.preloader span:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1763px) {
  .content {
    gap: 40px;
  }
  .content__card {
    min-width: 250px;
    max-width: 250px;
  }
}
@media (max-width: 1277px) {
  .content {
    padding: 25px 0;
    gap: 30px;
  }
  .content__card {
    min-width: 230px;
    max-width: 230px;
    min-height: 300px;
  }
  .content__card-front-avatar {
    height: 170px;
  }
  .content__card-front-title {
    font-size: 18px;
  }
  .content__card-front-descr {
    padding: 10px;
  }
  .content__card-front-text, .content__card-back-text {
    font-size: 13px;
  }
  .content__card-front-more {
    height: 30px;
    width: 70%;
    font-size: 14px;
  }
  .content__card-back-name {
    font-size: 18px;
    font-weight: 500;
  }
  .wrapper {
    width: 75%;
    padding: 0 0px 0 25px;
  }
  .navigation-left {
    width: 25%;
  }
}
@media (max-width: 1144px) {
  .header__search-input {
    width: 60%;
  }
  .header__search-submit {
    right: 20%;
  }
  .content {
    gap: 20px;
  }
  .content__card {
    min-width: 180px;
    max-width: 180px;
    min-height: 250px;
  }
  .content__card-front-avatar {
    height: 130px;
  }
  .content__card-front-title {
    font-size: 15px;
  }
  .content__card-front-text, .content__card-back-text {
    font-size: 12px;
    font-weight: 300;
  }
  .content__card-front-more {
    height: 30px;
    width: 70%;
    font-size: 14px;
  }
  .content__card-back-name {
    font-size: 15px;
    font-weight: 500;
  }
  .content__card-back-top {
    margin-top: 0;
  }
  .content__card-back-main .phone:after {
    width: 16px;
    height: 16px;
    background: url(../img/phone-16px.svg) center center no-repeat;
  }
  .content__card-back-main .mail:after {
    width: 16px;
    height: 16px;
    background: url(../img/mail-16px.svg) center center no-repeat;
  }
  .navigation-left {
    padding-right: 15px;
  }
  .navigation-left__header {
    align-items: flex-end;
  }
  .navigation-left__img-filter {
    height: 18px;
  }
  .navigation-left__title {
    font-size: 18px;
    line-height: 18px;
  }
  .navigation-left__item {
    column-gap: 5px;
    font-size: 15px;
  }
  .navigation-left__btn {
    font-size: 15px;
  }
}
@media (max-width: 780px) {
  .navigation-left__item-age {
    justify-content: center;
  }
  .navigation-left__item-age span {
    flex: 1 1 auto;
  }
  .navigation-left__item-min-max-wrapper {
    row-gap: 0px;
    column-gap: 10px;
    justify-content: center;
  }
}
@media (max-width: 620px) {
  .wrapper {
    padding: 0 10px;
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .main {
    margin-top: 110px;
  }
  .header {
    height: 100px;
    padding: 20px;
    justify-content: center;
    width: auto;
    column-gap: 30px;
  }
  .header__logo-link {
    width: 25%;
  }
  .header__logo {
    width: 100%;
  }
  .header__search-input {
    width: 100%;
  }
  .header__search-submit {
    right: 0;
  }
  .navigation-top__item {
    display: block;
  }
  .navigation-top__sort {
    font-size: 12px;
  }
  .navigation-top__select {
    font-size: 12px;
  }
  .navigation-top__list {
    justify-content: center;
  }
  .navigation-top__list-adaptive-burger {
    top: 112px;
    left: 0;
    position: fixed;
    display: block;
    width: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 12;
    transition: 0.3s all;
  }
  .navigation-top__list-adaptive-burger svg {
    transition: 0.3s all;
    width: 40px;
    stroke: #6500E4;
  }
  .navigation-top__list-adaptive-burger:after {
    content: "";
    background: url("../img/arrow-down-s-fill.svg") center center no-repeat;
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 15px;
    line-height: 15px;
    color: #6500E4;
    left: 25px;
    transform: rotate(180deg);
    transition: all 0.3s;
  }
  .navigation-top__list-adaptive-burger:hover {
    transition: 0.3s all;
  }
  .navigation-top__list-adaptive-burger:hover svg {
    stroke: #C1157C;
    transition: 0.3s all;
  }
  .navigation-top__list-adaptive-burger:hover:after {
    background: url("../img/arrow-down-s-fill-hover.svg") center center no-repeat;
    transition: 0.3s all;
  }
  .navigation-top__list-adaptive-burger-active {
    transition: 0.3s all;
  }
  .navigation-top__list-adaptive-burger-active svg {
    stroke: #C1157C;
  }
  .navigation-top__list-adaptive-burger-active:after {
    background: url("../img/arrow-down-s-fill-hover.svg") center center no-repeat;
    transform: rotate(0deg);
  }
  .navigation-left {
    padding: 20px;
    top: 100px;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    left: -100%;
    width: 35%;
    transition: 0.5s all;
  }
  .navigation-left__header {
    display: block;
    text-align: center;
  }
  .navigation-left__closebtn {
    display: block;
  }
  .navigation-left__title {
    font-size: 14px;
  }
  .navigation-left__img-filter {
    display: none;
  }
  .navigation-left__list {
    margin-top: 20px;
  }
  .navigation-left__item {
    font-size: 12px;
    font-weight: 600;
  }
  .navigation-left__item:not(:first-child) {
    margin-top: 20px;
  }
  .navigation-left__item .range-parametres {
    height: 25px;
    font-size: 12px;
    width: 40px;
  }
  .navigation-left__btn {
    font-size: 12px;
  }
  .navigation-left__bottom-btn {
    font-size: 12px;
    height: 30px;
  }
  .navigation-left-active {
    padding: 20px;
    visibility: visible;
    opacity: 1;
    left: 0;
    transition: 0.5s all;
  }
  .content {
    padding-top: 16px;
  }
  .content__card-front-more {
    font-size: 12px;
    height: 25px;
    width: 60%;
  }
}
@media (max-width: 520px) {
  .navigation-left {
    width: 50%;
  }
}
@media (max-width: 420px) {
  .navigation-left {
    width: 70%;
  }
}
@media (max-width: 420px) {
  .header {
    flex-direction: column;
  }
  .header__logo-link {
    width: 35%;
  }
  .header__search-block {
    width: 100%;
  }
  .navigation-left {
    width: 70%;
  }
}
@media (max-width: 375px) {
  .navigation-left {
    width: 100%;
    border-right: none;
  }
  .content {
    gap: 30px;
  }
  .content__card {
    min-width: 220px;
    max-width: 220px;
    min-height: 280px;
  }
}