body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

section {
	margin: 0 auto;
}

.wrapper {
	margin: 0 auto;
	width: 1170px;
	max-width: 90%;
	height: 100%;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

/* Logo Header */

.logo {
	background: url('images/logo.svg') no-repeat;
	width: 100px;
	height: 100%;
	float: left;
	background-position: center;
}

/* Header nav menu */

header {
	height: 100px;
	width: 100%;
	background-color: #0c0e1d;
}

header::after {
	content: '';
	display: table;
	clear: both;
}


header ul {
	list-style-type: none;
	float: right;
	margin-top: 35px;
}

header li {
	display: inline-block;
	padding-left: 30px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

header a {
	color: white;
}

header a:hover {
	color: #1065cf;
	transition: 0.5s;
}

/* About ME */

.bgPhoto {
	background-color: #030b1e;
	height: 880px;
	background: url('images/bg_about.png') no-repeat;
	background-position: 100% 0%;
	background-attachment: fixed; /*create paralax*/
	background-size: cover;
}

.textAbout {
	padding: 0;
	width: 65%;
	margin-left: 0;
	display: inline-block;
}

.textAbout h1, .textAbout p {
	color: white;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.textAbout h1 {
	margin-top: 35%;	
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 0;
}

.textAbout p {
	font-size: 18px;
}


.buttons {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

button {
	margin: 20px;
	width: 170px;
	height: 50px;
	border-radius: 30px;
	border-style: none;
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	transition: 0.3s;
}

button:hover {
	letter-spacing: 1px;
	box-shadow: 0 0.5em 0.5em -0.1em rgba(59, 255, 212, 0.2);
	transform: translateY(-0.05em);
}

button:first-child {
	background-color: #117bfb;
	color: white;	
}

button:last-child {
	background-color: white;
	color: #117bfb;	
}
/* Block About Me */

.bgAboutMe {
	background-color: #010312;
	width: 100%;
}

.myPhoto {
	padding-top: 120px;
}

.myPhoto img {
	border-radius: 20px;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 200px;
}

.textAboutMe {
	width: 500px;
	padding-top: 100px;
	color: white;
	font-family: 'Poppins', sans-serif;
}

.textAboutMe h1 {
	border: 2px solid white;
	width: 140px;
	padding: 5px;
	text-align: center;
}

table {
	margin-top: 30px;
	border-bottom: 2px solid #626262;
	padding-bottom: 40px;
	width: 500px;
}

table tr:nth-child(2n-1) {
	color: #117bfb;
}

table tr:nth-child(3) td{
	padding-top: 40px;
}

table td {
	width: 200px;
	font-family: 'Poppins', sans-serif;
}

table a {
	color: white;
	transition: 0.2s;
}
table a:hover {
	color: #00aeff;
}


