/* PreLoader */

#preloader {
  background-color: #071828;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  text-indent: 1.5em;
  text-align: justify;
}
h1 {
  font-family: 'Poppins', sans-serif;
}
section {
  margin: 0 auto;
}
button:hover {
  outline: none;
}
button:focus {
  outline: none;
  border: none;
}
.wrapper {
  margin: 0 auto;
  width: 1170px;
  max-width: 90%;
  height: 100%;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
/* Logo Header */
.logo {
  background: url('images/logo.svg') no-repeat;
  width: 100px;
  height: 100%;
  float: left;
  background-position: center;
}
/* Header nav menu */
header {
  height: 100px;
  width: 100%;
  background-color: #0c0e1d;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
header ul {
  list-style-type: none;
  float: right;
  margin-top: 35px;
}
header li {
  display: inline-block;
  padding-left: 30px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
header a {
  color: white;
}
header a:hover {
  color: #1065cf;
  transition: 0.5s;
}
/* About ME */
.bgPhoto {
  background-color: #030b1e;
  height: 880px;
  background: url('images/bg_about.png') no-repeat;
  background-position: 100% 0%;
  background-attachment: fixed;
  /*create paralax*/
  background-size: cover;
}
.textAbout {
  padding: 0;
  width: 65%;
  margin-left: 0;
  display: inline-block;
}
.textAbout h1,
.textAbout p {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.textAbout h1 {
  margin-top: 35%;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
}
.textAbout p {
  font-size: 18px;
}
.buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.buttons a {
  color: white;
}
.buttons .download {
  color: #117bfb;
}
button {
  margin: 20px;
  width: 170px;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s;
}
button:hover {
  letter-spacing: 1px;
  box-shadow: 0 0.5em 0.5em -0.1em rgba(59, 255, 212, 0.2);
  transform: translateY(-0.05em);
}
button:first-child {
  background-color: #117bfb;
  color: white;
}
button:last-child {
  background-color: white;
  color: #117bfb;
}
/* Block About Me */
.bgAboutMe {
  background-color: #010312;
  width: 100%;
}
.myPhoto {
  padding-top: 120px;
}
.myPhoto img {
  border-radius: 20px;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 200px;
}
.textAboutMe {
  width: 500px;
  padding-top: 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.textAboutMe h1 {
  border: 2px solid white;
  width: 140px;
  padding: 5px;
  text-align: center;
}
table {
  margin-top: 30px;
  border-bottom: 2px solid #626262;
  padding-bottom: 40px;
  width: 500px;
}
table tr:nth-child(2n-1) {
  color: #117bfb;
}
table tr:nth-child(3) td {
  padding-top: 40px;
}
table td {
  width: 200px;
  font-family: 'Poppins', sans-serif;
}
table a {
  color: white;
  transition: 0.2s;
}
table a:hover {
  color: #00aeff;
}
/* My Skills */
.mySkills {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
}
.centerText h1 {
  margin-top: 50px;
  color: #117bfb;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.tableOfMySkills {
  margin: 0 auto;
}
span {
  color: white;
  font-family: 'Poppins', sans-serif;
  vertical-align: middle;
  margin-left: 10px;
}
#codeconSkills {
  font-size: 25px;
  height: auto;
}
.codeconSkillbar {
  height: 35px;
  width: 750px;
  position: relative;
  background: #2b2b37;
  margin: 40px auto;
  border-bottom: 2px solid #010312;
}
#codeconHTML {
  width: 70%;
  height: 100%;
  animation: Animate-HTML 3s;
  -webkit-animation: Animate-HTML 3s;
  -moz-animation: Animate-HTML 3s;
  -o-animation: Animate-HTML 3s;
  position: absolute;
  background-color: #117bfb;
}
.PercentText {
  position: relative;
  padding-right: 15px;
  float: right;
}
.tableOfMySkills:after,
.tableOfMySkills::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 70%;
  }
}
#codeconCSS {
  width: 65%;
  height: 100%;
  animation: Animate-CSS 3s;
  -webkit-animation: Animate-CSS 3s;
  -moz-animation: Animate-CSS 3s;
  -o-animation: Animate-CSS 3s;
  position: absolute;
  background-color: #117bfb;
}
@keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-webkit-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-moz-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-o-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
#codeconEng {
  width: 55%;
  height: 100%;
  animation: Animate-Eng 3s;
  -webkit-animation: Animate-Eng 3s;
  -moz-animation: Animate-Eng 3s;
  -o-animation: Animate-Eng 3s;
  position: absolute;
  background-color: #117bfb;
}
@keyframes Animate-Eng {
  from {
    width: 10px;
  }
  to {
    width: 55%;
  }
}
@-webkit-keyframes Animate-Eng {
  from {
    width: 10px;
  }
  to {
    width: 55%;
  }
}
@-moz-keyframes Animate-Eng {
  from {
    width: 10px;
  }
  to {
    width: 55%;
  }
}
@-o-keyframes Animate-Eng {
  from {
    width: 10px;
  }
  to {
    width: 55%;
  }
}
#codeconJS {
  width: 30%;
  height: 100%;
  animation: Animate-JS 2s;
  -webkit-animation: Animate-JS 2s;
  -moz-animation: Animate-JS 2s;
  -o-animation: Animate-JS 2s;
  position: absolute;
  background-color: #117bfb;
}
@keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-webkit-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-moz-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-o-keyframes Animate-JS {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
#codeconGIT {
  width: 30%;
  height: 100%;
  animation: Animate-GIT 2s;
  -webkit-animation: Animate-GIT 2s;
  -moz-animation: Animate-GIT 2s;
  -o-animation: Animate-GIT 2s;
  position: absolute;
  background-color: #117bfb;
}
@keyframes Animate-GIT {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-webkit-keyframes Animate-GIT {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-moz-keyframes Animate-GIT {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}
@-o-keyframes Animate-GIT {
  from {
    width: 10px;
  }
  to {
    width: 30%;
  }
}

#codeconPS {
  width: 65%;
  height: 100%;
  animation: Animate-Ps 3s;
  -webkit-animation: Animate-Ps 3s;
  -moz-animation: Animate-Ps 3s;
  -o-animation: Animate-Ps 3s;
  position: absolute;
  background-color: #117bfb;
}
@keyframes Animate-Ps {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-webkit-keyframes Animate-Ps {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-moz-keyframes Animate-Ps {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}
@-o-keyframes Animate-Ps {
  from {
    width: 10px;
  }
  to {
    width: 65%;
  }
}

#codeconAi {
  width: 35%;
  height: 100%;
  animation: Animate-Ai 2s;
  -webkit-animation: Animate-Ai 2s;
  -moz-animation: Animate-Ai 2s;
  -o-animation: Animate-Ai 2s;
  position: absolute;
  background-color: #117bfb;
}
@keyframes Animate-Ai {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
@-webkit-keyframes Animate-Ai {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
@-moz-keyframes Animate-Ai {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
@-o-keyframes Animate-Ai {
  from {
    width: 10px;
  }
  to {
    width: 35%;
  }
}
/* PORTFOLIO */
.blockPortfolio {
  background: url('images/Galery_bg.png') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  padding-top: 100px;
}
.blockPortfolio h1 {
  color: white;
  margin: 0 auto;
}

.flexWorks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}

.examplesWorks {
  width: 550px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 100px;
  margin-top: 100px;
  box-shadow: 4px 4px 20px 0px rgba(173, 250, 255, 0.7);
}
  img{
    width: 100%;
    height: auto;
}

.worksButtnons {
  margin-top: 20px;
}

/* FOOTER */
footer {
  background-color: black;
  width: 100%;
  height: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.footerIcons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  color: white;
}

.footerIcons a {
  color: white;
}
a:hover .fa-linkedin {
  transition: 0.6s;
  color: #0077B5;
}
a:hover .fa-github-square {
  transition: 0.6s;
  color: #d152ff;
}
a:hover .fa-codepen {
  transition: 0.6s;
  color: #b4ff52;
}
.footerIcons i {
  margin-left: 20px;

}
.CopyRight {
  color: white;
  vertical-align: center;
  position: absolute;
  margin-top: 120px;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1255px) {

  .textAbout {
    width: 100%;
  }

  table {
  width: 100%;
  }
  .flexWorks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
}
.examplesWorks {
  width: 100%;
  height: 100%;
}
}


@media screen and (max-width: 1100px) {
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.textAboutMe {
  width: 100%;
}

.codeconSkillbar {
  width: 100%;
}
}
