.main {
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 93vh;
  padding-right: 5%;
  padding-bottom: 30px;
}
.main .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__navigation {
  width: 30%;
}
.main__navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style-type: none;
}
.main__navigation__button {
  position: relative;
  text-align: left;
  padding-left: 42%;
  width: 100%;
  height: 80px;
  border: none;
  background-color: #0e0e0e;
  color: #E8E8E8;
  font-size: 24px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}
.main__navigation__button:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 50%;
  transform: translateX(calc(-50% - 30px)) translateY(-50%);
  background-color: transparent;
  width: 0px;
  height: 3px;
  transition: 0.3s ease-in-out all;
}
.main__navigation__button:hover {
  transition: 0.3s ease-in-out all;
  color: #D64045;
}
.main__navigation__button:hover:before {
  width: 100px;
  background-color: #D64045;
  box-shadow: 1px 1px 10px #D64045;
  transition: 0.3s ease-in-out all;
}
.main__navigation__button:focus {
  color: #D64045;
}
.main__navigation__button:focus:before {
  width: 100px;
  background-color: #D64045;
  box-shadow: 1px 1px 10px #D64045;
  transition: 0.3s ease-in-out all;
}
.main__content {
  max-width: 70%;
  transition: 0.3s ease-in-out all;
}
.main__content__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  height: 0;
  opacity: 0;
  color: #E8E8E8;
}
.main__content__active {
  opacity: 1;
  position: static;
  visibility: visible;
  transition: 0.3s ease-in-out all;
}
.main__content__image {
  max-width: 2560px;
  max-height: 1440px;
  padding-top: 30px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
}
.main__content__descr {
  line-height: 24px;
  margin-top: 10px;
}